body{
    background-image: url('https://img.freepik.com/fotos-premium/silhueta-de-hacker-em-fundo-binario-verde-escuro-silhueta-de-hacker-e-codigos-binarios-imagem-tonificada-da-silhueta-de-hacker-em-capuz-hacking-e-conceito-de-malware_256259-2363.jpg?w=2000');
}
.page{
    background-color: rgb(0, 230, 214);
    color: azure;
    position: absolute;
    top: 40%;
    left: 30%;
    padding: 80px;
    
}
